body {
  margin: 0;
}

* {
  box-sizing: border-size;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
  color: #2082fa;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}

.wrapper {
  min-width: 600px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
}

header {
  font-size: 36px;
  display: flex;
  flex-direction: column;

  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

header .description {
  font-size: 14px;
  color: #cecece;
}

main {
  flex-grow: 1;
  padding: 0 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

footer {
  font-size: 14px;
  text-align: center;
  padding: 20px;
}

@media (max-width: 600px) {
  .wrapper {
    min-width: 100%;
  }
}
