body {
  margin: 0;
}

* {
  box-sizing: border-size;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  margin: 10px;
}

.box label {
  padding: 10px;
  cursor: ew-resize;
}
